* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;

  &__control {
    margin: 5px 0;
    display: flex;
    flex-direction: column;
  }

  &__create,
  &__clear,
  &__delete {
    text-transform: uppercase;
    width: 50%;
  }
}